/* CSS Document */

#comments { }

#comments h2.comment-list_title {font:2em "Comic Sans MS", cursive;
display:block;
color:#5790c9;
margin-left:3px;
padding-left: 40px;}

#comment_form h2.comment-form_title {font:2em "Comic Sans MS", cursive;
display:block;
color:#5790c9;
margin-left:3px;
padding-left: 40px;}

ol.comment_list p { font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#000;
margin:10px;}

#comments ol { list-style:none;
margin: 40px 0;
display:block;}

div.comment_title p{ font:18px Georgia, "Times New Roman", Times, serif;
border-bottom:1px solid #B51C1C;
color:#B51C1C;}

div.comment_title a {text-transform:capitalize;
color:#B51C1C;
text-decoration:none;}

div.comment_title a:hover, div.comment_title a:active { text-decoration:underline;}

#commentform p { font:13px 'Didact Gothic',"Lucida Sans","Lucida Grande",sans-serif;
margin: 10px 0 10px 60px;}
#commentform input { font: 13px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding: 5px;}

form#commentform input:hover, #commentform input:focus { border:1px solid #991606;}

form#commentform textarea.commenttext { font:13px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding:5px;
margin:10px 0;}

input#submitcomment { font: 13px "Trebuchet MS",Arial,Helvetica,sans-serif !important;
    padding: 5px !important;
	border:1px solid #991606;
	cursor:pointer;
	margin-left:200px;}
	
input#submitcomment:hover, input#submitcomment:focus, input#submitcomment:active { background:#991606;
color:#fff;}

form#commentform p.logged-in-as {font:1.2em 'Didact Gothic',"Lucida Sans","Lucida Grande",sans-serif;}
	
#commentform label { margin-left: 20px;}