/* CSS Document */

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
	width:930px;
    position: relative;
    overflow: hidden;
	margin: 0 auto;
	

}



/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel-container {
    width: 20000em;
    position: relative;

}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel a {
    /* Required only for block elements like <li>'s */
    float: left;
	text-decoration:none;
	color:#997346;

}

.jcarousel a p { overflow:hidden;}

.jcarousel img { width: 930px;
    height: 515px; }
 
figcaption { background: url(images/description_bg.png);
background:rgba(0, 0, 0, 0.6);
color:#fff;
text-align:center;
font:16px "Trebuchet MS", Verdana, sans-serif;
padding:20px;
position:relative;
top:-55px;
left:0;
clear:both;
}
 

.captionjs {
	line-height: 0;
	background:#000;
}

figure.captionjs {
	
	height:500px;
	
	}
.captionjs figcaption {
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	-ms-box-sizing:     border-box;
	-o-box-sizing:      border-box;
	box-sizing:         border-box;
	width: 100%;
}
.captionjs.stacked,
.captionjs.animated,
.captionjs.hide {
	position: relative;
	overflow: hidden;
}
.captionjs.stacked figcaption,
.captionjs.animated figcaption,
.captionjs.hide figcaption {
	position: absolute;
}

/* Stacked mode */
.captionjs.stacked figcaption {
	bottom: 0;
}

/* Animated mode */
.captionjs.animated figcaption {
	-webkit-transition: 0.25s bottom;
	-moz-transition:    0.25s bottom;
	-ms-transition:     0.25s bottom;
	-o-transition:      0.25s bottom;
	transition:         0.25s bottom;
}
.captionjs.animated:hover figcaption {
	bottom: 0 !important;
}

/* Hide mode */
.captionjs.hide figcaption {
	-webkit-transition: 0.25s margin-bottom;
	-moz-transition:    0.25s margin-bottom;
	-ms-transition:     0.25s margin-bottom;
	-o-transition:      0.25s margin-bottom;
	transition:         0.25s margin-bottom;
}
.captionjs.hide:hover figcaption {
	margin-bottom: 0 !important;
}
