/*
Theme Name: ILM HOUSES
Description: Venta de Inmobiliarios
Version: 0.1
Author: Carlos Wu
Author URI: http://carkod.com
Tags: grey scale, black background

*/

/* Overall styling */

* {padding:0;margin:0;}

a { text-decoration:none;
outline:none;}

img { border:none;}

html { background-color:#000;}



body {background:url(images/footer_bg.png) no-repeat center bottom;
height:100%;}
html.wp-toolbar, body.wp-admin, body.wp-core-ui {background: none !important;}
.wrap { background:url(images/header_bg.png) no-repeat center 0;
overflow:hidden;
clear:both;}

html.wp-toolbar .wrap, body.wp-admin, body.wp-core-ui .warp { background:none !important;}
/* Language links */

#language { position:relative;
top:0;
left:800px;}

#language img { margin-top: 15px;}

#language a {
color:#fff;
font:14px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
background: url(images/home.png) no-repeat 0 0;}

/* Header styling */

#header { width:930px;
overflow:hidden;
margin: 10px auto 0 auto;}

#header h1 { background:url(images/logo.png) no-repeat  center 0 ;
text-indent:-99999px;
padding-bottom: 0px;}

#header h1 a { display:block;
width:600px;
height:85px ;
margin: 10px auto ;}

#header p { text-indent:-99999px;}

#header #logo { text-align:center;
display:block;
padding:20px 0 0px 0;
margin-bottom: 20px;
border-bottom:1px solid #DA9100;}

/* Top navigation styling */

#topnav { background: url(images/topnav_bg.png) repeat-x 0 0;
margin-bottom: 20px;
border-radius:10px;
border:1px solid #000;}


#topnav ul { list-style:none;
overflow:hidden;}

#topnav ul li { float:left;
display:inline;
text-align: center;
background: url(images/topnav_sep.png) no-repeat right 0;
padding: 13px 15px 17px 15px;
width: 120px;}

#topnav ul li a { color:#fff;
font: 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
display:block;}

/* Home Carousel styling */

#carousel-home { clear:both;}


div.more { margin: 40px auto 5px auto;
background:url(images/vermas_bg.png) no-repeat center -5px;
width:160px;
padding:10px 40px 30px 45px;
text-align:center;
border: 2px solid #666;
border-radius:15px;}

div.more a {color:#666;
font: 17px "Trebuchet MS", Arial, Helvetica, sans-serif;}



/* Footer styling */

#footer {clear:both;
overflow:hidden;
width:930px;
border-top:1px solid #DA9100;
margin: 20px auto 0 auto;}

#footer ul { list-style:none;
overflow:hidden;
margin-top: 10px;}
#footer ul li { float:left;
overflow:hidden;
padding: 20px 0 10px 0;
width:136px;}

#footer ul li.ilmlogo { margin: 0 261px 0 261px;
padding-top: 0 !important;
text-align:center;}

#footer ul li a { display:block;
color:#fff;
text-decoration:none;
font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}

#footer ul li a:hover, #footer ul li a:active { text-decoration:underline;}

#footer3 { padding: 20px;
color:#fff;
font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
margin: 0 auto;
border-top: 1px solid #555;
width:890px;
text-align:center;
overflow:hidden;}


#footer3 .share { margin: 0 auto;
width:410px;
overflow:hidden;}

#footer3 .share a {width:25px;
height:25px;
display:block;
float:left;
margin: 0 10px;}

#footer3 .share a:hover,  #footer3 .share a:active { width:25px;
height:25px;}

.share a.facebook { background: url(images/icons.png) no-repeat 0 -1352px;}
.share a.twitter { background: url(images/icons.png) no-repeat 0 -1404px;}
.share a.wechat { background: url(images/icons.png) no-repeat 0 -1612px ;}
.share a.sinaweibo { background: url(images/icons.png) no-repeat 0 -108px ;}
.share a.renren { background: url(images/icons.png) no-repeat 0 -208px;}
.share a.tecentweibo { background: url(images/icons.png)  no-repeat 0 -260px;}
.share a.kaixin { background: url(images/icons.png) no-repeat 0 -310px;}
.share a.douban { background: url(images/icons.png) no-repeat 0 -468px ;}
.share a.qzone { background: url(images/icons.png) no-repeat 0 -52px ;}

.share a.facebook:hover, .share a.facebook:active  { background: url(images/icons_hover.png) no-repeat 0 -1352px;}
.share a.twitter:hover, .share a.twitter:active  { background: url(images/icons_hover.png) no-repeat 0 -1404px;}
.share a.wechat:hover, .share a.wechat:active  { background: url(images/icons_hover.png) no-repeat 0 -1612px;}
.share a.sinaweibo:hover, .share a.sinaweibo:active  { background: url(images/icons_hover.png) no-repeat 0 -108px;}
.share a.renren:hover, .share a.renren:active  { background: url(images/icons_hover.png) no-repeat 0 -208px;}
.share a.tecentweibo:hover, .share a.tecentweibo:active  { background: url(images/icons_hover.png) no-repeat 0 -260px;}
.share a.kaixin:hover, .share a.kaixin:active  { background: url(images/icons_hover.png) no-repeat 0 -310px;}
.share a.douban:hover, .share a.douban:active  { background: url(images/icons_hover.png) no-repeat 0 -468px;}
.share a.qzone:hover, .share a.qzone:active  { background: url(images/icons_hover.png) no-repeat 0 -52px;}


/* Single.php styles */


#single { clear:both;
margin: 0 auto;
width:930px;}

.single-navigation { padding: 10px 10px;
background:#141416;
margin: 0;
border-top: 1px solid #666;
overflow:hidden;
width:910px;}

div.single-navigation a { 
font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;}

div.single-navigation .post-links { color:#fff;
font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;}

div.single-navigation .post-links a {padding:0 10px;
color:#fff;}

div.topinfo { color:#fff;
font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
margin: 30px 0;
overflow:hidden;}

#lugar, #precio { font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;}

.topinfo { clear:both;}

#lugar { float:left;}

#precio { float:right;}

.back { float:left;}
a.atras { cursor:pointer;
color:#d9d9d9;}

.post-links { float:right;}

div.content { width:880px;
clear:both;
padding: 20px;
background:#1B1B1B;
overflow:hidden;}

.mygallery { float:left;}

.top-content {
color:#fff;
height:390px;
}

span.general {display:block;}

.bottom-content {
background:#333;
color:#fff;
padding: 20px;
clear:both;}

#metabox1 h2.metabox1-title { font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
margin-bottom: 10px;}

#metabox1 {width:210px;
background:#333;
float:right;
padding:17px;
border:1px solid #fff;}

#metabox1 p{ font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#CCC;}


#metabox1 a{ 
color:#CCC;
text-decoration:none;}

#metabox1 a.wikiciudad-link { background-color:#AC7800;
padding: 3px 5px;
border-radius:5px;
color:#000;
text-transform:uppercase;}

#metabox1 a.wikiciudad-link:hover {background-color:#DA9100;}




#
{margin: 10px 0;}

#metabox2 .text{
overflow-x:hidden;
overflow-y:scroll;
height:141px;}

#metabox2 .text p { font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#CCC;
text-align:justify;
padding:10px;
line-height:20px;}

#metabox2 .text ol, #metabox2 .text ul, #metabox2 .text dl { font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding-left:50px;
color:#CCC;}

#metabox2 .text ol li, #metabox2 .text ul li { padding:3px ;}



#metabox2 h2.metabox2-title {font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
margin-bottom: 0;
padding-left:10px;}

#meinteresa {
text-align:center;margin-top: 15px;}

#meinteresa a {text-decoration:none;
color:#000;
font: 16px Georgia, "Trebuchet MS", Arial, Helvetica, sans-serif;
text-transform:uppercase;
text-decoration:none;
display:block;
 background:url(images/button.png) no-repeat center 0;
 padding:10px 15px;
 font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;}

#meinteresa a:hover { background:#DADAD9;
text-decoration:none;}

.ui-dialog-titlebar {
    border: 0;
    padding: 0;
}
.ui-dialog-titlebar-close {
    top: 0;
    right: 0;
    margin: 0;
    z-index: 999;
	display:block;
}

.meinteresa-modal .ui-widget-header { background:none;
border:none;}

.meinteresa-modal  .ui-state-default { background:none;}

/* Page.php styling */


#page { margin: 50px auto;
width:930px;
clear:both;}

#page h2.page-title { font: 30px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#fff;
margin: 20px 0;}

#page p { font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
color:#999;
padding: 5px;
text-align:justify;}

#page p a { text-decoration:none;
color:#999;}


#page ol, #page ul, #page dl { font:14px "Trebuchet MS", Arial, Helvetica, sans-serif;
padding-left:50px;
color:#CCC;}

#page ol li, #page ul li { padding:3px ;}

#page p a:hover, #page p a:active {color:#b6952c;}

/* Index.php (Archives for Mas Propiedades) styling */

.archives { margin: 10px auto;
width:930px;
clear:both;}

.archives ul.item { list-style:none;
display:inline;
overflow:hidden;}

.archives ul.item li {
	float:left;
	width:280px;
margin: 20px 5px;
overflow:hidden;
background:#333;
height:230px;
padding:10px;}

.archives ul.item li:hover, .archives ul.item li:active {
	background:#666;
	cursor:pointer;}

.archives ul.item li img { width:280px;
height:160px;}

.archives .archives-title { color:#fff;
width:260px;
font:16px "Trebuchet MS", Arial, Helvetica, sans-serif;
white-space:pre-line;
text-align:center;
margin: 10px 0 0 0 ;}


/* WP Page navigation */


.wp-pagenavi { clear:both;
width:930px;
margin: 20px auto;
text-align:center;
overflow:hidden;}


.wp-pagenavi a.nextpostslink, .wp-pagenavi span.nextpostslink { color:#fff;
float:right;
margin-left:300px;
background:#7B7B7B;
border-radius:10px;
padding:5px 10px;}

.wp-pagenavi a.previouspostslink, .wp-pagenavi span.previouspostslink { color:#fff;
float:left;
margin-right:330px;
background:#7B7B7B;
border-radius:10px;
padding:5px 10px;}


.wp-pagenavi a.nextpostslink:hover , .wp-pagenavi a.nextpostslink:active,
.wp-pagenavi a.previouspostslink:hover, .wp-pagenavi a.previouspostslink:active
{ background:#4e4e4e;}



.wp-pagenavi a.page { color:#fff;
padding: 2px 5px ;}

.wp-pagenavi a.page:hover, .wp-pagenavi a.page:active { background:#7B7B7B;}

.wp-pagenavi a.page,  .wp-pagenavi span.current { float:left;}

.wp-pagenavi span.current { color:#CCC;
background:#7B7B7B;
padding: 2px 5px ;}



/* Modal Window Me Interesa */



/* Scroll bar styling */

#metabox2 ::-webkit-scrollbar {
      width: 15px;
	  border-radius: 15px;
} /* this targets the default scrollbar (compulsory) */

#metabox2 ::-webkit-scrollbar-track {
      background-color: #666;
} /* the new scrollbar will have a flat appearance with the set background color */
#metabox2 ::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */
#metabox2 ::-webkit-scrollbar-button {
      background-color: #444;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
#metabox2 ::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */



/* Search field */

#searchfield { margin: 0 auto;
width:930px;
clear:both;}




#searchfield .select-city { float:left;
position:relative;
min-height:100%;}


#searchfield .select-city .drop1 { color:#fff;
font:14px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
cursor:pointer;
display:block;
background: #7B7B7B;
border-radius: 10px;
padding: 4px 6px;}

#searchfield .select-city label { color:#fff;
font:13px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
padding: 10px 0;
display:block;}

#searchfield .select-city input {font:14px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
display:block;
margin:12px 0 5px 0 ;
padding: 3px 5px;
cursor:pointer;}

#searchfield .select-city select { width:178px;
padding: 3px 3px;}
#searchfield .select-city select option { padding: 3px 3px;
display:block;}


#searchfield .menu1 {position:absolute;
top:130%;
border:1px solid #7B7B7B;
border-radius:10px;
background:#000;
padding:5px 10px;
z-index:1000;
display:block;
overflow:hidden;
padding:hidden;}



#searchfield .sort { float:right;
width:120px;
text-align:center;
position:relative;}



#searchfield .sort .drop2 { color:#fff;
font:14px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
cursor:pointer;
display:block;
background: #7B7B7B;
border-radius: 10px;
padding: 6px 6px;}


#searchfield .sort ul { width:100px;
list-style:none;
text-align:left;}
#searchfield .sort ul li a{ padding: 3px 3px;
display:block;
font:14px Gotham, "Helvetica Neue", Helvetica, Arial, SimSun, sans-serif;
color:#fff;}


#searchfield .menu2 {position:absolute;
top:130%;
right:0;
border:1px solid #7B7B7B;
border-radius:10px;
background:#000;
padding:5px 10px;
display:block;
overflow:hidden;
padding:hidden;}


/* Wikiciudades */

a.link-mapa { color:#da9100;
float:right;}