<form method="get" action="{{base-url}}" class="taxonomy-drilldown-dropdowns">
	<ul>
		{{#taxonomy}}
		<li>
			<label for="qmt-{{name}}">Seleccione Ciudad</label>
			<select id="qmt-{{name}}" name="{{name}}">
<option class="level-0" value="">Choose {{title}}...</option>
				{{{term-list}}}
			</select>
		</li>
		{{/taxonomy}}
	</ul>

	<p>
		<input type="submit" value="Enviar" />
	</p>
</form>
